:root{
      --green: #FFCC00;
      --black: #373B40;
      --twitter: #1da1f2;
      --linkedin: #0077B5;
      --medium: black;
      --mail: #ff0000;
      --cv: white;
}
#root{
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}
.app-container{
      width: 100%;
      height: 90vh;
      display: flex;
      align-items: center;
      justify-content: center;
}
.socialMediaContainer{
      width: 75%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10vh;
      border-top: 4px solid red;
}
.socialMediaContainer a{
      margin-left: 32px;
      font-size: 32px;
      color: red;
      transition: 0.5s all ease;
}
.socialMediaContainer a:first-child{
      margin-left: 0;
}
.socialMediaContainer .github:hover{
      color: black;
}
.socialMediaContainer .twitter:hover{
      color: var(--twitter);
}
.socialMediaContainer .linkedin:hover{
      color: var(--linkedin);
}
.socialMediaContainer .medium:hover{
      color: var(--medium);
}
.socialMediaContainer .email:hover{
      color: var(--mail);
}
.socialMediaContainer .codepen:hover{
      color: black;
}
.socialMediaContainer .website:hover{
      color: black;
}
.loader-container{
      position: absolute;
      top: 50%;
      left: 25%;
      transform: translate(-50%,-50%);
      animation: loaderBallAnimation 5s linear infinite;
      animation-delay: 0.25s;
}
.loader-container .half-ball{
      width: 256px;
      height: 128px;
      background-color: red;
      border: 16px solid black;
      border-bottom: none;
      border-top-left-radius: 138px;
      border-top-right-radius: 138px;
}
.loader-container .top-ball{
      position: relative;
      z-index: 2;
}
.loader-container .top-ball::after{
      width: 100%;
      height: 16px;
      background-color: black;
      content: "";
      position: absolute;
      bottom: -8px;
}
.loader-container .bottom-ball{
      transform: rotate(180deg);
      background-color: white;
}
.loader-container .center-ball{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-color: white;
      border: 16px solid black;
      width: 96px;
      height: 96px;
      border-radius: 50%;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center;
}
.loader-container .center-ball .dot{
      width: 32px;
      height: 32px;
      background-color: black;
      border-radius: 50%;
      animation: loaderCenterDotAnimation 1s infinite;
}
@keyframes loaderBallAnimation {
      0%,100%{
            left: 25%;
            transform: translate(-50%, -50%) rotateZ(0);
      }
      50% { 
            left: 75%;
            transform: translate(-50%,-50%) rotateZ(360deg);
      } 
}
@keyframes loaderCenterDotAnimation {
      0%,100%{
            background-color: black;
      }
      50%{
            background-color: red;
      }
}
.question-container{
      width: 75%;
      height: 30vh;
      display: flex;
      align-items: center;
      flex-direction: column;
}
.question-container h1{
      color: red;
}
.question-container h1:last-child{
      margin-top: 2vh;
}
.question-container .answers-container{
      margin-top: 5vh;
      width: 50%;
      height: 20vh;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      column-gap: 8px;
}
.question-container .answers-container button{
      cursor: pointer;
      border-radius: 16px;
      margin-top: 2vh;
      background-color: #FB1B1B;
      border: 4px solid black;
      color: white;
      font-weight: bold;
      font-size: 24px;
}
.end-page-container{
      font-size: 32px;
      display: flex;
      flex-direction: column;
      font-weight: bold;
}
.end-page-container .true{
      color: green;
      margin-right: 32px;
}
.end-page-container .false{
      color: red;
      margin-right: 32px;
}
.end-page-container .invalid{
      color: gray;
}