:root{
      --green: #4deeea;
      --black: #373B40;
      --twitter: #1da1f2;
      --linkedin: #0077B5;
      --medium: white;
      --mail: #ff0000;
      --cv: white;
}
body{
      background-color: var(--black);
}
#root{
      width: 100%;
      height: 100vh;
}
.app-container{
      width: calc(100% - 90px);
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}
.socialMediaContainer{
      border-left: 2px solid var(--green);
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 24px;
      height: 100vh;
}
.socialMediaContainer a{
      margin-bottom: 2vh;
      font-size: 32px;
      color: var(--green);
      transition: 0.5s all ease;
}
.socialMediaContainer a:last-child{
      margin-bottom: 0;
}
.socialMediaContainer .github:hover{
      color: white;
}
.socialMediaContainer .twitter:hover{
      color: var(--twitter);
}
.socialMediaContainer .linkedin:hover{
      color: var(--linkedin);
}
.socialMediaContainer .medium:hover{
      color: var(--medium);
}
.socialMediaContainer .email:hover{
      color: var(--mail);
}
.socialMediaContainer .codepen:hover{
      color: white;
}
.socialMediaContainer .website:hover{
      color: white;
}
.step-progress-container{
      color: white;
}
.step-progress-container ul{
      display: flex;
      align-items: center;
      justify-content: center;
}
.step-progress-container ul li{
      width: 64px;
      height: 64px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 32px;
      color: #6E6E6E;
      border-radius: 50%;
      background: linear-gradient(145deg, #32353a, #3b3f44);
      cursor: pointer;
      transition: 0.5s all ease-in-out;
      font-weight: bold;
}
.step-progress-container ul li:last-child{
      margin-right: 0;
}
.step-progress-container ul li:hover{
      color: var(--green);
}
.step-progress-container ul li.true{
      color: greenyellow;
      border: 1px solid greenyellow;
}
.step-progress-container ul li.false{
      color: red;
      border: 1px solid var(--mail);
}
.step-progress-container ul li.active{
      border: 1px solid var white;
      color: white;
}
